* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
#wrapper {
  min-width: 1050px;
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
}
#wrapper1 {
  width: 640px;
  margin: 0px auto;
}
#joinHeader {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  color: rgb(51, 51, 51);
}
#separator {
  width: 640px;
  height: 29px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 17px;
  text-align: right;
}
#separator1 {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(51, 51, 51);
}
#mandatoryColor {
  color: rgb(238, 106, 123);
}
#inputWrap {
  font-size: 14px;
  box-sizing: border-box;
}
#inputSmallWrap {
  display: inline-flex;
  width: 100%;
  padding: 10px 20px;
}
#input1 {
  width: 139px;
  font-size: 14px;
  padding-top: 12px;
}
#input2 {
  flex: 1 1 0%;
}
#inputBoxWrap {
  position: relative;
  height: 48px;
}
#inputBoxWrap1 {
  position: relative;
  height: 48px;
  display: flex;
}
#inputBoxWrap2 {
  align-items: flex-start;
  flex-direction: column;
  padding-top: 12px;
}
#inputBoxWrap3 {
  display: flex;
  align-items: center;
  flex: 4;
}
#inputBoxWrap4 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#inputBox1 {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
#buttonBox {
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  color: rgb(95, 0, 128);
  border: 1px solid rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
#buttonBoxSpan1 {
  font-weight: 500;
  color: rgb(95, 0, 128);
  font-size: 14px;
}
#buttonBox img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}
#buttonBoxSpan2 {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
  color: rgb(102, 102, 102);
}
#inputButton1 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
  height: 44px;
  border-radius: 3px;
}
#inputButton1 span {
  font-weight: 500;
  color: rgb(95, 0, 128);
  font-size: 14px;
}
#inputButton0 {
  display: none;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
  height: 44px;
  border-radius: 3px;
}
#inputButton2 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  height: 44px;
  border-radius: 3px;
}
#inputButton2 span {
  color: rgb(221, 221, 221);
  font-weight: 500;
  font-size: 14px;
}

#input3 {
  width: 120px;
  margin-left: 8px;
}
#inputRadioWrap1 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  font-size: 14px;
}
#inputRadioWrap1 label {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0px 9px;
  cursor: default;
}
#inputRadioWrap1 input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
}
#inputRadioCheck {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: rgb(95, 0, 128);
}
#inputRadioUnCheck {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: rgb(95, 0, 128);
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
}
#inputRadioCheck div {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
}
#inputRadioCheckText {
  position: relative;
  margin-left: 12px;
}
#fontSize14 {
  font-size: 14px;
  font-weight: 400;
}
#fontSize16 {
  font-size: 16px;
  font-weight: 400;
}
#fontSize18 {
  font-size: 18;
}
#checkboxTotalWrap {
  display: inline-flex;
  width: 100%;
  margin-left: 21px;
}
#checkboxTotalWrap1 {
  width: 100%;
  margin-left: 30px;
  margin-top: -10px;
  color: rgb(102, 102, 102);
  text-align: center;
}
#checkboxTotalWrap1 span {
  font-size: 10px;
  color: rgb(95, 0, 128);
}
#checkboxWrap {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
}
#checkboxWrap1 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  margin-left: 20px;
}
#checkboxWrap2 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  margin-left: 50px;
}
#checkboxWrapSpan {
  font-size: 18px;
  font-weight: 600;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
#checkbox {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
#checkbox1 {
  display: flex;
  padding: 8px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex: 1;
}
#checkbox1 a {
  color: rgb(95, 0, 128);
  font-size: 14px;
  flex: 1;
}
#checkbox1Span {
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 7px;
}
#checkboxImg {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
#checkboxProp {
  font-size: 12px;
  color: rgb(102, 102, 102);
  padding-top: 3px;
  padding-left: 36px;
}

#loginForm {
  width: 340px;
  margin: 0px auto;
  letter-spacing: -0.6px;
}
#inputForm {
  margin-top: 30px;
}
#inputForm1 {
  position: relative;
  height: 48px;
  margin-bottom: 10px;
}
#inputProp {
  height: 54px;
  font-size: 14px;
  width: 100%;
  height: 46px;
  padding: 0px 11px 1px 15px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  font-weight: 400;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  outline: none;
  box-sizing: border-box;
}
#enterButtonWrap {
  justify-content: center;
  padding: 20px 0px;
  display: flex;
}
#enterButton {
  text-align: center;
  justify-content: center;
  background-color: rgb(95, 0, 128);
  padding: 10px;
  display: flex;
  border-radius: 5px;
  width: 210px;
}
#enterButton span {
  text-align: center;
  color: white;
  font-size: 16px;
}
#logos1 {
  width: 250px;
  position: relative;
  display: flex;
  left: 80px;
}

#logos img {
  width: 35px;
  margin: 10px;
}
#sub_sub {
  font-size: 15px;
  color: #aaa;
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0px;
}

#findForm {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

#findText {
  color: black;
}
#buttonForm {
  margin-top: 20px;
}
#button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 54px;
  border-radius: 3px;
  background-color: rgb(95, 0, 128);
  border: 0px none;
}
#buttonSpan {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
#button1 {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 54px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
}
#buttonSpan1 {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: rgb(95, 0, 128);
}
footer {
  width: 1050px;
  height: 345px;
  margin: 0px auto;
  padding: 0 0 30px 0;
}
.hr2 {
  margin: 20px 0 0 0;
  width: 1920px;
  border: 0.5px solid #eee;
  display: block;
  position: relative;
  right: 300px;
  bottom: 50px;
}

.fi {
  position: relative;
  width: 100%;
  height: auto;
  left: 30px;
  bottom: 30px;
}

.divfp {
  background-color: #eee;
  height: 120px;
}

.fp {
  text-align: center;
  color: #a6a6a6;
  position: relative;
  top: 20px;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: -0.8px;
}
.displayFlex {
  display: flex;
}
.container {
  min-width: 1050px;
  margin: 0 auto;
}

.deliver {
  width: 120px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 20px;
  text-align: center;
  background: #fff;
  height: 28px;
  position: relative;
  top: 12px;
}
.deliver1 {
  color: rgb(102, 102, 102);
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.32px;
}
.topTab img {
  width: 100px;
  top: -10px;
  position: relative;
}
.topTabs {
  display: flex;
  align-items: center;
  height: 63px;
}
.topTab0 {
  display: flex;
}
.topTab0 li {
  margin: 5px 0 0 10px;
}
.topTab1 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
.topText {
  color: #5f0080;
}
.marginLeft15 {
  margin-left: 15px;
}
.manuBar {
  width: 1050px;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: 20px auto 0 auto;
  height: 50px;
  z-index: -1;
}
.manuBar1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 56px;
  margin: 0px auto;
}
.manuBar1Prop0 {
  width: 16px;
  height: 14px;
  margin-right: 14px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==)
    0px 0px / 16px 14px no-repeat;
}
.manuBar1Prop {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: rgb(51, 51, 51);
}
.main1 {
  display: flex;
  flex: 1;
  float: center;
  font-size: 30px;
  height: 60px;
}

.main1 > li {
  line-height: 50px;
  text-align: center;
  position: relative;
  flex: 2.5;
  margin-right: 60px;
}

.main1 > li:hover .main2 {
  left: 0;
  color: rgb(95, 0, 128);
}

.main1 > li a {
  display: block;
}

.main1 > li a:hover {
  color: black;
  font-weight: bold;
}

.main2 {
  width: 200px;
  text-align: left;
  font-size: 16px;
  position: absolute;
  top: 50px;
  left: -9999px;
  background: #fff;
  color: black !important;
  z-index: 10;
}

.main2 > li {
  position: relative;
  margin: -10px 0 -10px 0;
}
.main2 > li:hover {
  color: rgb(95, 0, 128);
}
.main2 > li:hover .main3 {
  background-color: #eee;
  color: black;
  left: 100%;
}

.main2 > li a,
.main3 > li a {
  border-radius: 10px;
  margin: 10px;
}
.main3 > li {
  margin: -10px 0 -10px 0;
}
.main3 {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 250px;
  z-index: 100;
}

.main3 > li a:hover {
  color: rgb(95, 0, 128);
}
.search {
  color: #5e5e5e;
  width: 300px;
  position: relative;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  left: -5px;
  letter-spacing: -0.33px;
}
.searchWrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 325px;
  top: -5px;
  width: 400px;
  height: 48px;
  padding-left: 14px;
  border: 0.5px solid rgb(95, 0, 128);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247 247 247) 0px 0px 0;
}

.search_button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==");
  position: relative;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: -5px;
  width: 32px;
  height: 32px;
  margin: 10px;
  bottom: 3px;
  border: none;
  background-color: transparent;
  color: #5f0080;
}

.won100 {
  width: 100%;
  background-color: #5f0080;
}
.won100Content {
  height: 40px;
  width: 1050px;
  line-height: 40px;
  justify-content: center;
  margin: auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.won100Size {
  font-size: 15px;
  color: #fff;
}
